<template>
  <v-layout :class="{column: isMobile}">
    <v-snackbar v-model="snackbar" color="green" :multi-line="true" :timeout="6000">
      {{shack_text}}
      <v-btn dark flat @click="snackbar = false">Закрыть</v-btn>
    </v-snackbar>

    <v-flex md4 sm12>
      <v-text-field
        v-model="name"
        color="green"
        :readonly="!redact? true :false"
        label="Имя"
        required
      ></v-text-field>
      <v-text-field
        v-model="adress"
        color="green"
        :readonly="!redact? true :false"
        label="Адрес"
        required
      ></v-text-field>
      <v-text-field
        v-model="phone"
        color="green"
        :readonly="!redact? true :false"
        label="Телефон"
        return-masked-value
        mask="+7(###) ### - ####"
        required
      ></v-text-field>
      <div class="row">
        <v-btn color="success" @click="save">{{redact?'Сохранить':'Редактировать'}}</v-btn>
        <v-btn v-if="redact" @click="redact=false">{{'Отменить'}}</v-btn>
        <!-- v-btn @click>Отписаться от рассылки</v-btn -->
      </div>
    </v-flex>
    <v-flex md8 sm12 :class="{'ml-4':!isMobile}">
      <v-expansion-panel style="    margin-top: 36px;">
        <v-expansion-panel-content expand-icon="mdi-menu-down">
          <template v-slot:header>
            <div>
              <v-card-title class="headline text-truncate">Записи на приём</v-card-title>
            </div>
          </template>
          <v-card>
            <v-list two-line>
              <template v-for="s in myreceptions">
                <v-divider :inset="true"></v-divider>

                <v-list-tile :key="s.service_id" avatar>
                  <v-list-tile-avatar>
                    <img v-if="s.type=='hair'" :src="require('../assets/man-hair.svg')">
                    <img v-if="s.type=='beard'" :src="require('../assets/man-beard.svg')">
                  </v-list-tile-avatar>

                  <v-list-tile-content>
                    <v-list-tile-title>{{s.service_name}}</v-list-tile-title>
                    <v-list-tile-sub-title>
                      {{moment(s.reception_date)}}
                      <v-chip v-if="s.sale">sale {{s.sale}}%</v-chip>
                    </v-list-tile-sub-title>
                    <v-spacer></v-spacer>
                  </v-list-tile-content>

                  <v-list-tile-action>
                    <span>
                      {{s.time}}
                      <v-icon @click="cancelReception(s.reception_id)" color="green">delete</v-icon>
                    </span>
                    <span
                      class="mr-3"
                    >{{s.sale?s.service_cost-s.service_cost*s.sale/100:s.service_cost}} P</span>
                  </v-list-tile-action>
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </v-expansion-panel-content>

        <v-expansion-panel-content expand-icon="mdi-menu-down">
          <template v-slot:header>
            <div>
              <v-card-title class="headline text-truncate">Заказы</v-card-title>
            </div>
          </template>
          <v-card>
            <v-list two-line>
              <template v-for="order in myorders">
                <v-divider :inset="true"></v-divider>

                <v-list-tile :key="order.order_id" avatar @click @click.stop>
                  <!-- v-list-tile-avatar>
                    <img v-if="s.type=='beard'" :src="require('../assets/man-beard.svg')">
                  </v-list-tile-avatar-->

                  <v-list-tile-content>
                    <v-list-tile-title>Заказ №{{order.order_id}}</v-list-tile-title>
                    <v-list-tile-sub-title>{{moment(order.created_at)}}</v-list-tile-sub-title>
                    <v-spacer></v-spacer>
                  </v-list-tile-content>

                  <v-list-tile-action>
                    <span>статус: {{order.status}}</span>
                  </v-list-tile-action>
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-flex>
  </v-layout>
</template>
<script>
var moment = require("moment");

export default {
  name: "cabinet",
  data: () => ({
    redact: false,
    valid: false,
    error: null,
    name: null,
    email: null,
    adress: null,
    phone: null,
    myreceptions: [],
    myorders: [],
    snackbar: false,
    shack_text: ""
  }),
  mounted() {
    this.$data.name = this.currentUser.name;
    this.$data.email = this.currentUser.email;
    this.$data.phone = this.currentUser.phone;
    this.$data.adress = this.currentUser.adress;

    var formdata = new FormData();
    formdata.append("id", this.currentUser.id);

    // get data...
    this.loadReceptions();
  },
  methods: {
    loadReceptions() {
      this.$store.dispatch("loading");
      var formdata = new FormData();
      formdata.append("id", this.currentUser.id);
      axios
        .post("/api/my-receptions", formdata, {
          headers: {
            Authorization: `Bearer ${this.$store.getters.currentUser.token}`
          }
        })
        .then(response => {
          console.log("my receptions is->", response);

          if (response.data.status == "OK") {
            this.$data.myreceptions = response.data.data;
            this.$store.dispatch("loadingDone");
          }
        })
        .catch(response => {
          this.$store.dispatch("loadingDone");
          console.log("error is->", response);
        });

      axios
        .post("/api/my-orders", formdata, {
          headers: {
            Authorization: `Bearer ${this.$store.getters.currentUser.token}`
          }
        })
        .then(response => {
          console.log("my receptions is->", response.data.orders);
          this.$data.myorders = response.data.orders;
          this.$store.dispatch("loadingDone");
        })
        .catch(response => {
          this.$store.dispatch("loadingDone");
          console.log("error is->", response);
        });
    },
    moment(data) {
      return moment(data).format("YYYY-MM-DD");
    },
    cancelReception(id) {
      var formdata = new FormData();
      formdata.append("reception_id", id);

      axios
        .post("/api/cancel", formdata, {
          headers: {
            Authorization: `Bearer ${this.$store.getters.currentUser.token}`
          }
        })
        .then(response => {
          console.log("response is->", response);

          if (response.data.status == "OK") {
            //this.$data.myreceptions = response.data.data;
            this.loadReceptions();
            this.$data.shack_text = "Запись была успешно отменена";
            this.$data.snackbar = true;
          }
        })
        .catch(response => {
          console.log("error is->", response);
        });
    },
    save() {
      if (!this.$data.redact) {
        this.$data.redact = true;
        return;
      }
      this.$store.dispatch("loading");
      console.log("update data request...");
      var data = new FormData();
      data.append("id", this.currentUser.id);
      data.append("name", this.$data.name);
      data.append("email", this.$data.email);
      data.append("phone", this.$data.phone);
      data.append("adress", this.$data.adress);

      console.log(this.currentUser.id);
      axios
        .post("/api/auth/update", data, {
          headers: {
            Authorization: `Bearer ${this.$store.getters.currentUser.token}`
          }
        })
        .then(response => {
          console.log("update user done!");
          console.log("response is->", response);
          this.$store.dispatch("updateUser");
          this.$data.redact = false;
          this.$data.snackbar = true;
          this.$data.shack_text = "Изменения сохранены";
          this.$store.dispatch("loadingDone");
        })
        .catch(response => {
          console.log("error is->", response);
          this.$store.dispatch("loadingDone");
        });
    }
  },
  computed: {
    services() {
      return this.$store.getters.services;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    },
    isMobile() {
      return this.$store.getters.isMobile;
    }
  }
};
</script>
<style>
.icon {
  font-size: 20px;
}
</style>


