<template>
  <v-container>
    <v-snackbar
      v-model="snackbar"
      color="green"
      :multi-line="true"
      :timeout="6000"
    >
        Спасибо! Ваш заказ создан и скоро будет отправлен! Сейчас вы перейдёте назад в магазин)
      <v-btn dark flat @click="snackbar = false">Закрыть</v-btn>
    </v-snackbar>
    <v-data-table :headers="headers" :items="basket" class="elevation-1">
      <template v-slot:items="props">
        <td>{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.count }}</td>
        <td class="text-xs-right">{{ props.item.price }}</td>
      </template>
    </v-data-table>
    <v-btn color="green" @click="createOrder">Сделать заказ</v-btn>
  </v-container>
</template>
<script>
import { setTimeout } from 'timers';
export default {
  name: "cart",
  data() {
    return {
      snackbar:false,
      headers: [
        {
          text: "Товар",
          align: "left",
          sortable: false,
          value: "product_name"
        },
        { text: "Количество", value: "calories" },
        { text: "Цена (с учётом скидки)", value: "price" }
      ]
    };
  },
  methods: {
    createOrder() {
      var data = new FormData();
      data.append("users_id", this.currentUser.id);
      data.append("basket", JSON.stringify(this.basket));

      this.$store.dispatch("loading");

      axios.post("/api/create-order",data)
        
          .then(response => {
            console.log("my orders is->", response);

            this.$data.products = response.data.products;
            this.$store.dispatch("loadingDone");

            this.$data.snackbar = true;
            setTimeout(()=>{
              this.$router.push({ path: "/shop" });
              this.$store.commit("updateBasket",[]);
            },2000);
          })
          .catch(response => {
            this.$store.dispatch("loadingDone");
            console.log("error is->", response);
          });
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    basket() {
      return this.$store.getters.basket;
    },
    isMobile() {
      return this.$store.getters.isMobile;
    },
    isLoading() {
      return this.$store.getters.isLoading;
    }
  }
};
</script>

