<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-container>
        <v-layout align-center justify-center>
            <v-flex xs12 md4>
        <v-text-field v-model="form.email" color="green" label="E-mail" required></v-text-field>
        <v-text-field
          v-model="form.password"
          color="green"
          browser-autocomplete="new-password"
          :type="'password'"
          label="Пароль"
          required
        ></v-text-field>
        <v-btn :disabled="!valid" color="success" @click="authenticate">Войти</v-btn>
      </v-flex>
        </v-layout>
      
    </v-container>
  </v-form>
</template>

<script>
import { login } from "../helpers/auth";
export default {
  name: "login",
  data: () => ({
    valid: false,
    error: null,
    form: {
      email: "",
      password: ""
    }
  }),
  methods: {
    login() {},
    authenticate() {
      this.$store.dispatch("login");
      login(this.$data.form)
        .then(res => {
          this.$store.commit("loginSuccess", res);
          this.$router.push({ path: "/" });
        })
        .catch(error => {
          this.$store.commit("loginFailed", { error });
        });
    }
  }
};
</script>

