<template>
  <v-layout>

    <v-snackbar
      v-model="snackbar"
      color="green"
      :multi-line="true"
      :timeout="6000"
    >
        Спасибо! Учётная запись создана
      <v-btn dark flat @click="snackbar = false">Закрыть</v-btn>
    </v-snackbar>

    
    <v-flex xs12  sm5  md6 offset-md3 offset-sm4>
      <v-text-field  v-model="form.name" :counter="50" label="Имя" color="green lighten-1" required></v-text-field>

      <v-text-field v-model="form.email" label="E-mail" color="green lighten-1" required></v-text-field>

      <v-text-field
        v-model="form.phone"
        label="Телефон"
        return-masked-value
        mask="+7(###) ### - ####"
        color="green lighten-1"
        required
      ></v-text-field>

      <v-text-field v-model="form.adress" label="Адрес" color="green lighten-1" required></v-text-field>

      <v-text-field
        v-model="form.password"
        browser-autocomplete="new-password"
        :type="'password'"
        label="Пароль"
        color="green lighten-1"
        required
      ></v-text-field>

      <v-text-field
        v-model="password2"
        browser-autocomplete="new-password"
        :type="'password'"
        label="Повторите пароль"
        color="green lighten-1"
        required
      ></v-text-field>

      <v-checkbox
        v-model="form.mail_notifications"
        label="Полyчать уведомления на почту?"
        color="green lighten-1"
      ></v-checkbox>
      {{error}}
      <v-btn  color="success" @click="registeration">Зарегистрироваться</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import { register } from "../helpers/auth";
var _ = require("lodash");

export default {
  name: "register",
  data: () => ({
    valid: false,
    form: {
      name: "",
      email: "",
      password: "",
      phone: "",
      adress: "",
      mail_notifications: true
    },
    error: null,
    password2: "",
    response_errors: null,
    snackbar: false
  }),
  methods: {
    registeration() {
      console.log("registration...");
      this.$data.error = "";
      this.$data.response_errors = "";

      if (!this.$data.form.name) {
        this.$data.error += "Заполните имя. ";
        return;
      }
      if (!this.$data.form.email) {
        this.$data.error += "Заполните email. ";
        return;
      }
      if (!this.$data.form.phone) {
        this.$data.error += "Заполните телефон. ";
        return;
      }
      if (!this.$data.form.adress) {
        this.$data.error += "Заполните адрес. ";
        return;
      }
      if (this.$data.form.password != this.$data.password2) {
        this.$data.error += "Пароли не совпадают! ";
        return;
      }
      //this.$store.dispatch('login');

      //this.$data.form.mail_notifications = this.$data.form.mail_notifications.toString();
      var formdata = this.$data.form;
      formdata.mail_notifications = formdata.mail_notifications.toString();

      register(formdata)
        .then(res => {
          console.log(res);
          if (res.status == "OK") {
            this.$data.snackbar = true;
            setTimeout(() => {
              this.$router.push({ path: "/" });
            }, 4000);
          } else {
            var errors = _.values(res.errors);
            this.$data.response_errors = _.flatten(errors);
          }
          //this.$store.commit("loginSuccess", res);
        })
        .catch(error => {
          console.log(error);
          this.$data.response_errors = ["Ошибка регистрации: ", error];
        });
    }
  }
};
</script>

<style>
</style>
