<template>
  <div>
    <v-snackbar
      v-model="snackbar"
      color="green"
      :multi-line="true"
      :timeout="6000"
    >
        Спасибо! Запись создана
      <v-btn dark flat @click="snackbar = false">Закрыть</v-btn>
    </v-snackbar>

    <v-navigation-drawer v-model="drawer" absolute dark temporary right="right">
      <v-list class="pt-0" dense>
        <v-divider light></v-divider>
        <v-list-tile>
          <v-list-tile-content></v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
          <v-list-tile-content class="headline font-weight-bold mb-5 mt-3">Запись на услугу</v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click class="mt-5">
          <v-list-tile-action>Выберите дату</v-list-tile-action>

          <v-list-tile-content>
            <v-dialog
              ref="dialog"
              v-model="modal"
              :return-value.sync="picker"
              persistent
              lazy
              full-width
              width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="picker"
                  color="green lighten-1"
                  label
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                locale="ru"
                v-on:change="loadTimes"
                color="green lighten-1"
                v-model="picker"
                scrollable
              >
                <v-spacer></v-spacer>
                <v-btn flat color="white lighten-1" @click="modal = false">Отмена</v-btn>
                <v-btn flat color="green lighten-1" @click="$refs.dialog.save(picker)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click class="mt-5">
          <v-list-tile-action>Выберите время</v-list-tile-action>
          <v-list-tile-content>
            <v-flex>
              <v-select v-model="selected" :items="options" color="green lighten-1" label="время"></v-select>
            </v-flex>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click class="mt-5" v-if="!currentUser">
          <v-list-tile-action>Телефон</v-list-tile-action>
          <v-list-tile-content>
            <v-flex>
              <v-text-field
                v-model="phone"
                return-masked-value
                mask="+7(###) ### - ####"
                color="green lighten-1"
              ></v-text-field>
            </v-flex>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click class="mt-5">
          <v-list-tile-action></v-list-tile-action>
          <v-list-tile-content>
            <v-btn :disabled="!selected" color="success" @click="createReceptionRequest">Записаться</v-btn>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-list two-line>
      <h3 class="headline font-weight-bold ml-3 mt-3 mb-3">Mужские</h3>
      <template v-for="s in services" v-if="s.category=='m'">
        <v-divider :inset="true"></v-divider>

        <v-list-tile :key="s.service_id" avatar @click @click.stop="createReception(s)">
          <v-list-tile-avatar>
            <img v-if="s.type=='hair'" :src="require('../assets/man-hair.svg')">
            <img v-if="s.type=='beard'" :src="require('../assets/man-beard.svg')">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{s.service_name}}</v-list-tile-title>
            <v-list-tile-sub-title>{{s.service_description}}</v-list-tile-sub-title>
            <v-spacer></v-spacer>
          </v-list-tile-content>

          <v-list-tile-action>
            <span v-if="s.sale" :class="{trough:s.sale}">{{s.service_cost}} P</span>
            <span>{{s.sale?s.service_cost-s.service_cost*s.sale/100:s.service_cost}} P</span>
          </v-list-tile-action>
        </v-list-tile>
      </template>
    </v-list>

    <v-list two-line>
      <h3 class="headline font-weight-bold ml-3 mt-3 mb-3">Женские</h3>
      <template v-for="s in services" v-if="s.category=='f'">
        <v-divider :inset="true"></v-divider>

        <v-list-tile :key="s.service_id" avatar @click @click.stop="createReception(s)">
          <v-list-tile-avatar>
            <img v-if="s.type=='hair'" :src="require('../assets/woman.svg')">
            <img v-if="s.type=='manicure'" :src="require('../assets/manicure.svg')">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{s.service_name}}</v-list-tile-title>
            <v-list-tile-sub-title>{{s.service_description}}</v-list-tile-sub-title>
          </v-list-tile-content>

          <v-list-tile-action>
            <span v-if="s.sale" :class="{trough:s.sale}">{{s.service_cost}} P</span>
            <span>{{s.sale?s.service_cost-s.service_cost*s.sale/100:s.service_cost}} P</span>
          </v-list-tile-action>
        </v-list-tile>
      </template>
    </v-list>

    <v-list two-line>
      <h3 class="headline font-weight-bold ml-3 mt-3 mb-3">Детские</h3>
      <template v-for="s in services" v-if="s.category=='k'">
        <v-divider :inset="true"></v-divider>

        <v-list-tile :key="s.service_id" avatar @click @click.stop="createReception(s)">
          <v-list-tile-avatar>
            <img :src="require('../assets/child.svg')">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{s.service_name}}</v-list-tile-title>
            <v-list-tile-sub-title>{{s.service_description}}</v-list-tile-sub-title>
          </v-list-tile-content>

          <v-list-tile-action>
            <span v-if="s.sale" :class="{trough:s.sale}">{{s.service_cost}} P</span>
            <span>{{s.sale?s.service_cost-s.service_cost*s.sale/100:s.service_cost}} P</span>
          </v-list-tile-action>
        </v-list-tile>
      </template>
    </v-list>
  </div>
</template>
<script>
var moment = require("moment");
export default {
  name: "services",
  mounted() {
    if (this.services.length) {
      return;
    }
    this.$store.dispatch("getServices");
    this.loadTimes(this.$data.picker);
  },
  data() {
    return {
      drawer: null,
      picker: new Date().toISOString().substr(0, 10),
      mini: false,
      right: null,
      modal: false,
      phone: null,
      disabled: [],
      selected: null,
      snackbar: false,
      options: [
        { text: "9-00", value: "9-00", disabled: false },
        { text: "10-00", value: "10-00", disabled: false },
        { text: "11-00", value: "11-00", disabled: false },
        { text: "12-00", value: "12-00", disabled: false },
        { text: "14-00", value: "14-00", disabled: false },
        { text: "15-00", value: "15-00", disabled: false },
        { text: "16-00", value: "16-00", disabled: false },
        { text: "17-00", value: "17-00", disabled: false }
      ]
    };
  },
  methods: {
    loadTimes(date) {
      console.log(moment(date).format("YYYY-MM-DD"));
      var data = new FormData();
      data.append("reception_date", moment(date).format("YYYY-MM-DD"));
      axios
        .post(
          "/api/public/times",
          data
          /*headers:{
                    "Authorization": `Bearer ${context.state.currentUser.token}`
                }*/
        )
        .then(response => {
          console.log("response is->", response);

          this.$data.disabled = response.data.data;
          this.$data.disabled.forEach(item => {
            this.$data.options.forEach(item_ => {
              console.log("disable", item);
              if (item_.text == item) {
                item_.disabled = true;
              }
            });
          });
        })
        .catch(response => {
          console.log("error is->", response);
        });
    },
    moment(data) {
      return moment(data).format("YYYY-MM-DD");
    },
    createReception(e) {
      console.log("service id is");
      console.log(e);
      this.loadTimes(this.$data.picker);
      this.$data.drawer = true;
      this.$data.service = e;
    },

    createReceptionRequest() {
      console.log("reception request...");
      if (!this.$data.selected) {
        this.$data.timeError = true;
        return;
      }
      var data = new FormData();
      data.append("time", this.$data.selected);
      data.append(
        "reception_date",
        moment(this.$data.picker).format("YYYY-MM-DD")
      );
      data.append("service_service_id", this.$data.service.service_id);
      data.append("users_id", this.currentUser ? this.currentUser.id : "");
      data.append(
        "phone",
        this.currentUser ? this.currentUser.phone : this.$data.phone
      );

      console.log(data);
      axios
        .post(
          "/api/public/create-reception",
          data
          /*headers:{
                    "Authorization": `Bearer ${context.state.currentUser.token}`
                }*/
        )
        .then(response => {
          console.log("create reception done!");
          console.log("response is->", response);

          if (response.data.status == "OK") {
            this.$data.receptionDone = true;
            setTimeout(() => {
              this.$data.receptionDone = false;
              this.$data.selected = null;
              this.$data.drawer = false;
              this.$data.snackbar =true;
            }, 50);
          }
        })
        .catch(response => {
          console.log("error is->", response);
        });
    }
  },
  computed: {
    services() {
      return this.$store.getters.services;
    },
    currentUser() {
      return this.$store.getters.currentUser;
    }
  }
};
</script>
<style>
.trough {
  text-decoration: line-through;
}
.v-list__tile__content {
  height: max-content !important;
}
.v-navigation-drawer--close.v-navigation-drawer--temporary {
    transform: translateX(-13vw) !important;
    display: none;
}
.v-navigation-drawer{
      position: fixed;
}
</style>

