<template>
  <v-container fluid grid-list-lg>
     <v-snackbar
      v-model="snackbar"
      color="green"
      :multi-line="true"
      :timeout="10000"
    >
        Чтобы совершить покупку нужно авторизоваться)
      <v-btn dark flat @click="snackbar = false">Закрыть</v-btn>
    </v-snackbar>
    <v-expansion-panel style="    background: transparent;">
      <v-expansion-panel-content>
        <template v-slot:header>
          <div>Фильтр</div>
        </template>
        <v-item-group multiple>
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox v-model="mans" v-on:change="girls=!mans" :label="`Мужские`" color="green"></v-checkbox>
            </v-chip>
          </v-item>

          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox
                v-model="girls"
                v-on:change="mans=!girls"
                :label="`Женские`"
                color="green"
              ></v-checkbox>
            </v-chip>
          </v-item>
        </v-item-group>

        <!-- mans -->
        <v-subheader>Категория</v-subheader>
        <v-item-group multiple v-if="mans">
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox v-model="mans_filters[0].state" :label="`шампуни`" color="green"></v-checkbox>
            </v-chip>
          </v-item>

          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox v-model="mans_filters[1].state" :label="`кондиционеры`" color="green"></v-checkbox>
            </v-chip>
          </v-item>
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox v-model="mans_filters[2].state" :label="`стайлинг`" color="green"></v-checkbox>
            </v-chip>
          </v-item>
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox
                v-model="mans_filters[3].state"
                :label="`средства для бритья`"
                color="green"
              ></v-checkbox>
            </v-chip>
          </v-item>
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox
                v-model="mans_filters[4].state"
                :label="`средства для бритья и усов`"
                color="green"
              ></v-checkbox>
            </v-chip>
          </v-item>
        </v-item-group>

        <!-- girls -->
        <v-item-group multiple v-if="girls">
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox v-model="girls_filters[0].state" :label="`шампуни`" color="green"></v-checkbox>
            </v-chip>
          </v-item>

          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox v-model="girls_filters[1].state" :label="`кондиционеры`" color="green"></v-checkbox>
            </v-chip>
          </v-item>
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox v-model="girls_filters[2].state" :label="`маски/сыворотки`" color="green"></v-checkbox>
            </v-chip>
          </v-item>
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox v-model="girls_filters[3].state" :label="`стайлинг`" color="green"></v-checkbox>
            </v-chip>
          </v-item>
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox v-model="girls_filters[4].state" :label="`окрашивание`" color="green"></v-checkbox>
            </v-chip>
          </v-item>
          <v-item>
            <v-chip slot-scope="{ active, toggle }" :selected="active" @click="toggle">
              <v-checkbox
                v-model="girls_filters[5].state"
                :label="`наборы по уходу за волосами`"
                color="green"
              ></v-checkbox>
            </v-chip>
          </v-item>
        </v-item-group>
      </v-expansion-panel-content>
    </v-expansion-panel>

    <v-layout row wrap style="height:600px; overflow-y: auto;">
      <template v-for="product in products">
        <v-flex xs12 md4 v-if="checkFilter(product)" :key="product.product_id">
          <v-card class="white--text">
            <v-layout>
              <v-flex xs5>
                <v-img :src="product.product_image" height="125px" contain></v-img>
              </v-flex>
              <v-flex xs7>
                <v-card-title primary-title>
                  <div>
                    <div class="headline">{{product.product_name}}</div>
                    <div>{{product.product_description}}</div>
                    <div :if="product.sale">SALE {{product.sale}}%</div>
                  </div>
                </v-card-title>
              </v-flex>
            </v-layout>
            <v-divider light></v-divider>
            <v-card-actions class="pa-3">
              {{product.product_price}}
              <v-spacer></v-spacer>
              <v-btn @click="addInCart(product)" color="green">+1 в корзину</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </template>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name: "shop",
  mounted() {
    this.loadData();
  },
  data: () => ({
    snackbar:false,
    products: [],
    mans: true,
    girls: false,
    mans_filters: [
      { category: "shamp", state: true },
      { category: "condi", state: true },
      { category: "style", state: true },
      { category: "beard", state: true },
      { category: "beard", state: true }
    ],
    girls_filters: [
      { category: "shamp", state: false },
      { category: "condi", state: true },
      { category: "mask", state: true },
      { category: "style", state: true },
      { category: "color", state: true },
      { category: "care", state: true }
    ]
  }),
  watch: {
    mans_filters(){
      console.log('fack');
      this.$forceUpdate();
    },
    girls_filters: function(val) {
      vm.$forceUpdate();
    }
  },
  methods: {
    loadData() {
      var data = new FormData();

      this.$store.dispatch("loading");

      axios
        .get("/api/public/products")
        .then(response => {
          console.log("my receptions is->", response);

          this.$data.products = response.data.products;
          this.$store.dispatch("loadingDone");
        })
        .catch(response => {
          this.$store.dispatch("loadingDone");
          console.log("error is->", response);
        });
    },
    addInCart(product) {
      if(!this.currentUser){
        this.$data.snackbar = true;
        return;
      }
      if (this.$store.getters.searchInBasket(product.product_id)) {
        this.$store.getters.searchInBasket(product.product_id).count += 1;
      } else {
        this.$store.commit("addInBasket", {
          id: product.product_id,
          name: product.product_name,
          count: 1,
          price: product.sale
            ? product.product_price -
              (product.product_price * product.sale) / 100
            : product.product_price
        });
      }
    },
    checkFilter(product) {
      if (product.type == "man") {
        console.log("man...");
        if (this.$data.mans) {
          for(var filter of this.$data.mans_filters) {
            console.log(filter);
            if (filter.category == product.category && filter.state == true) {
              console.log("yes");
              return (true);
            }
          }
          return false;
        } else {
          return false;
        }
      } else {
        if (!this.$data.mans) {
          for(var filter of this.$data.girls_filters) {
            console.log(filter);
            if (filter.category == product.category && filter.state == true) {
              console.log("yes");
              return (true);
            }
          }
          return false;
        } else {
          return false;
        }
      }
    }
  },
  computed: {
    basket() {
      return this.$store.getters.basket;
    }
    ,currentUser() {
      return this.$store.getters.currentUser;
    }
  }
};
</script>
<style>
.theme--dark.v-expansion-panel .v-expansion-panel__container {
  background: transparent;
}
</style>

