<template>
  <v-container grid-list-md text-xs-center>
    <v-layout text-xs-center wrap>
      <v-layout align-center justify-center column fill-height>
        <!-- v-flex xs2 fill-height>
          <v-img :src="require('../assets/logo1.png')" class="my-3" contain height="200"></v-img>
        </v-flex -->

        <v-flex xs12 md6 class="title">
          <h1 class="display-3 font-weight-bold mb-3">myBarber</h1>
          <p class="subheading font-weight-regular">Лучшие услуги, лучший сервис, лучшие цены</p>
        </v-flex>

       
        <v-flex xs12 md6>
          <h1 class="display-1 font-weight-bold mb-3"><router-link style="text-decoration:none; color:white" to="/services">услуги</router-link></h1>
          <h1 class="display-2 font-weight-bold mb-3">&</h1>
          <h1 class="display-1 font-weight-bold mb-3"><router-link style="text-decoration:none; color:white" to="/shop">магазин</router-link></h1>
        </v-flex>

        
      
      </v-layout>

      
      <br>
    </v-layout>

    <!-- v-flex mb-5 xs12>
      <h2 class="headline font-weight-bold mb-3">Услуги</h2>
      <v-layout row wrap>
        <v-flex d-flex xs12 sm3 md3 v-for="n in 4">
          <v-card :color="colors[n-1]"> 
            <v-card-title primary class="title">услуга дня</v-card-title>
            <v-card-text>
              {{ colors[n-1] }}
              <div class="text-xs-center">
                <v-chip color="green">-500 руб</v-chip>
                <v-btn icon class="mr-0">
                  <v-icon>chevron_right</v-icon>
                </v-btn>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
       
      </v-layout>
    </v-flex>

    <v-flex xs12 mb-5>
      <h2 class="headline font-weight-bold mb-3">Магазин</h2>
      <v-layout row wrap>
        <v-flex d-flex xs12 sm3 md3 v-for="n in 4">
          <v-card :color="colors[colors.length-n]"> 
            <v-card-title primary class="title">услуга дня</v-card-title>
            <v-card-text>
              {{ colors[n-1] }}
              <div class="text-xs-center">
                <v-chip color="green">-500 руб</v-chip>
                <v-btn icon class="mr-0">
                  <v-icon>chevron_right</v-icon>
                </v-btn>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
       
      </v-layout>
    </v-flex -->
  </v-container>
</template>

<script>
export default {
  data: () => ({
    colors:["purple","blue lighten-2","green lighten-2","red lighten-2"],
    lorem: "скидка! надо брать",
    importantLinks: [
      {
        text: "Documentation",
        href: "https://vuetifyjs.com"
      },
      {
        text: "Chat",
        href: "https://community.vuetifyjs.com"
      },
      {
        text: "Made with Vuetify",
        href: "https://madewithvuetifyjs.com"
      },
      {
        text: "Twitter",
        href: "https://twitter.com/vuetifyjs"
      },
      {
        text: "Articles",
        href: "https://medium.com/vuetify"
      }
    ]
  })
};
</script>

<style>

.title{
  
  
    margin-top: 60px !important;
    border-radius: 20px;
}
</style>
