<template>
  <v-app dark>
    <v-toolbar app>
      <v-toolbar-side-icon>
        <v-icon color="green">local_offer</v-icon>
      </v-toolbar-side-icon>
      <v-toolbar-title class="headline text-uppercase" href="/">
        <router-link style="text-decoration:none; color:white" to="/">MyBarber</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <template v-if="!currentUser">
        <v-btn flat href="/login">
          <span class="mr-2">Вход</span>
        </v-btn>
        <v-btn flat href="/register">
          <span class="mr-2">Регистрация</span>
        </v-btn>
      </template>

      <v-toolbar-items v-if="currentUser" class="hidden-sm-and-down">
        <v-btn flat href="/shop">Магазин</v-btn>
        <v-btn flat href="/services">Услуги</v-btn>

        <v-badge left color="green" class="cart" v-bind:class="{heartbeat:alert}">
          <template v-slot:badge>
            <span>{{basket.length}}</span>
          </template>
          <v-icon large color="grey lighten-1" @click.prevent="goToCart">shopping_cart</v-icon>
        </v-badge>
      </v-toolbar-items>

      <template v-if="currentUser">
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn flat color="white" dark v-on="on" class="hidden-sm-and-down">
              {{currentUser.name}}
              <v-icon>arrow_drop_down</v-icon>
            </v-btn>

            <v-btn flat color="white" dark v-on="on" class="hidden-md-and-up">
              <v-icon>menu</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-tile>
              <v-list-tile-content>
                <router-link class="v-btn v-btn__content" to="/cabinet">Личный кабинет</router-link>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-content>
                <a href="#!" @click.prevent="logout" class="v-btn v-btn__content">Выйти</a>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-menu>
      </template>
    </v-toolbar>

    <v-content class="backgr">
      <v-progress-linear :indeterminate="true" v-if="isLoading" color="green"></v-progress-linear>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-content>

    <!-- v-bottom-nav v-if="isMobile" :value="true" fixed dark>
      <v-btn v-if="currentUser" color="green" flat value="recent">
        <span>Мои записи</span>
        <v-icon>history</v-icon>
      </v-btn>

      <v-btn color="green" flat value="favorites">
        <span>Услуги</span>
        <v-icon>shop</v-icon>
      </v-btn>

      <v-btn color="green" flat value="nearby">
        <span>Магазин</span>
        <v-icon>shopping_cart</v-icon>
      </v-btn>
    </v-bottom-nav -->
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      alert: false
    };
  },
  methods: {
    logout() {
      this.$store.commit("logout");
      this.$router.push("/login");
    },
    goToCart(){
      console.log('go');
      this.$router.push({ path: "/cart" });
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    },
    basket() {
      return this.$store.getters.basket;
    },
    isMobile() {
      return this.$store.getters.isMobile;
    },
    isLoading() {
      return this.$store.getters.isLoading;
    }
  },
  watch: {
    basket(){
      console.log("update!");
      this.alert = true;
      setTimeout(() => (this.alert = false), 500);
    }
  }
};
</script>

<style>
.v-btn__content {
  text-decoration: none;
}
.cart {
  margin-top: 13px;
  margin-left: 22px;
}
.backgr {
  background-image: url("assets/back.png");
  background-size: cover;
  background-position: center;
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
</style>

